#navbar{
	margin-bottom: 0px;
}

.footer{
	background-color: #ddd;
	height: 11%;
	/*bottom: 0;*/
}

.content{
	margin-top: 20px;
	margin-bottom: 20px;
}

/*@media screen and (max-width: 597px){
	.main-card{
		display: none;
	}
}*/