#navbar{
	margin-bottom: 0px;
}

.content{
	margin-top: 100px;
}

.name-card{
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right:0;
	height:33%;
	width: 33%;
	background-color: #bdc3c7;
	border-radius: 5px;
	padding:15px;
	text-align: center;
}