body{
  background-color: #dcdcdc;
}

#navbar{
	margin-bottom: 0px;
	background-color: #BAC9D0;
}

.content{
	margin-top: 20px;
}

.name-card{
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right:0;
	position: absolute;
	top: 40%;
	text-align: center;
}

.card-main-text{
  padding:33px;
}

/* ========== FLIPPER STYLES ======= */
.flip {
  -webkit-perspective: 800;
  height: 350px;
  position: relative;
  padding:0;
  margin: 7px auto;
}

.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}

.flip .card {
  height: 100%;
  margin-left: 7px;
  margin-right: 7px;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}

.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
}

.flip .card .front {
  position: absolute;
  z-index: 1;
  color: #04092f;
  cursor: pointer;
  padding: 58px;
  font-size: 20px;
  font-family: Kohinoor Bangla;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
  background: blue;
  color: #33291F;
  cursor: pointer;
  font-family: avenir;
  font-size: 16px;
}