<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 flip"> 
    <div class="card" ng-class="{'flipped':flipped}" ng-click="flipCard()"> 
        <div class="face front" ng-style="{'background': front.backgroundImageUrl}">
            <div class="card-text">
                {{front.text}}
            </div>
        </div>

        <div class="face back" ng-style="{'background': back.backgroundColor}">
            <div class="card-main-text">
                {{back.text}}
            </div> 
        </div> 
    </div> 
</div> 